<h2 class="mg-2">Order Detail</h2>

<div *ngIf="order; else noOrder" class="card mg-t-3">
  <div class="font-small">
    {{order.timeStamp | date: 'full'}}
  </div>
  <div class="mg-t-2">
    <h2>
      Delivery Address
    </h2>
    <hr>
    <b>Last Name</b>: {{order.deliveryAddress.lastName}} <br>
  </div>
  <div class="mg-t-2">
    <b>First Name</b>: {{order.deliveryAddress.firstName}} <br>
  </div>
  <div class="mg-t-2">
    <b>Country</b>: {{order.deliveryAddress.country}} <br>
  </div>
  <div class="mg-t-2">
    <b>State</b>: {{order.deliveryAddress.state}} <br>
  </div>
  <div class="mg-t-2">
    <b>City</b>: {{order.deliveryAddress.city}} <br>
  </div>
  <div class="mg-t-2">
    <b>Address</b>: {{order.deliveryAddress.address}} <br>
  </div>

  <div class="mg-t-2">
    <h2>Contact Details</h2>
    <hr>
  </div>
  <div class="mg-t-2">
    <b>Primary Phone</b>: {{order.deliveryAddress.primaryPhoneNumber}} <br>
  </div>
  <div class="mg-t-2">
    <b>Secondary Phone</b>: {{order.deliveryAddress.secondaryPhoneNumber}} <br>
  </div>
  <div class="mg-t-2">
    <b>Email</b>: {{order.deliveryAddress.emailAddress}} <br>
  </div>

  <div class="mg-t-2">
    <hr>
    <table class="mg-t-8" style="width: 100%;">
      <thead style="width: 100%;" class="text-left">
        <th>
          Product
        </th>
        <th>
          Quantity
        </th>
        <th>
          Dimensions
        </th>
        <th>
          Price
        </th>
      </thead>

      <tbody style="width: 100%;" class="text-left mg-t-10">
        <tr *ngFor="let product of order.products">
          <td>
            <div class="mg-b-3">
              {{product.name | titlecase}}
            </div>
            <div class="image-container text-center">
              <img style="height: 40px; width: 40px;" src="{{apiBaseUrl}}/{{product.files[0].filename}}" alt="">
            </div>
          </td>
          <td>
            {{product.cartQuantity}}
          </td>
          <td>{{product.dimensions}}</td>
          <td>
            <span *ngIf="product.isOnSale == 'true'; else isNotOnSale">
              <del class="font-small">{{product.price | currency: "NGN"}}</del>
            {{product.discountPrice * product.cartQuantity| currency: "NGN"}}
            </span>
            <ng-template #isNotOnSale>
              {{product.price * product.cartQuantity| currency: "NGN"}}
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #noOrder>
  <div class="card">
    <h4>Order Not Found</h4>
  </div>
</ng-template>
