#loader {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  background-color: yellow;
  z-index: 99992;
  position: fixed;
  padding: 10%;
  box-sizing: border-box;
  font-size: x-large;
  font-weight: bold;
  margin: auto;
  cursor: url('../assets/static-images/hand-cursor-16.png'), auto;
}

.centered {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: yellow;
  padding: 1%;
  border-radius: 7px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  z-index: 900088;
}
