<div class="side-nav pad-2">
  <img id="avatar" src="../../../assets/static-images/stella-arts-05.jpeg" alt="">
  <div style="margin-top: 3rem;" class="text-left">
    <div class="mg-t-10">
      Products:  {{allProducts.length}}
    </div>
    <div class="mg-t-4">
      Orders: {{allOrders.length}}
    </div>
    <div class="mg-t-4">
      Total in sales: 10
    </div>
  </div>
  <div class="text-left">
    <button (click)="signOut()" class="sign-out primary-button">Sign-out</button>
  </div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
