<div class="side-nav pad-2">
  <img id="avatar" src="../../../assets/static-images/stella-arts-05.jpeg" alt="">
  <div style="margin-top: 3rem;" class="text-left">
    <div (click)="navigate('admin/dashboard/products/list')" class="mg-t-10">
     Products:  {{allProducts.length}}
    </div>
    <div (click)="navigate('admin/dashboard/orders/all')" class="mg-t-4">
      Orders <span class="mdi mdi-animation"></span> : {{allOrders.length}}
    </div>
    <div class="mg-t-4">
      Total in sales
      <span class="mdi mdi-cash-multiple"></span>
    </div>
  </div>
  <div class="text-left">
    <button (click)="signOut()" class="sign-out primary-button">Sign-out</button>
  </div>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>
