<div *ngIf="product">
  <div id="side-nav" class="text-center">
    <div class="mg-b-8 text-right">
      <span style="cursor: pointer;" (click)="goToCart()"
        class="mdi mdi-cart">{{cartService.productsInCart.length}}</span>
    </div>
    <div style="color: green;" class="mg-b-8 text-right font-bold">
      <span *ngIf="product.isOnSale == 'true'; else productIsNotOnSale">
        <del style="color: red">{{product.price | currency}}</del>
        {{product.discountPrice | currency}}
      </span>
      <ng-template #productIsNotOnSale>
        {{product.price | currency}}
      </ng-template>
    </div>
    <h2>
      {{product.name | titlecase}}
    </h2>
    <div class="mg-t-10 grid">
      <div class="col-3 mg-2" *ngFor="let file of product.files">
        <div class="image-container">
          <img style="cursor: pointer;"
            [ngClass]="product.files.indexOf(file) == currentFileIndex? 'active-image' : '' " (click)="jumpToFile(file)"
            *ngIf="file.mimetype.includes('image')" src="{{baseUrl}}/{{file.filename}}">
        </div>
      </div>
    </div>
    <div class="mg-t-10 grid">
      <button (click)="addToCart()" class="col-12 mg-t-2 mg-b-2 pad-4 rad-10 primary-button"> Add to Cart </button>
      <button (click)="goToShop()" style="background-color: white;" class="col-12 mg-t-2 mg-b-2 pad-4 rad-10"> Back
      </button>
    </div>
    <div class="mg-t-10 text-left">
      <h4>Dimensions:</h4>
      {{product.dimensions | titlecase}}
    </div>
    <div class="mg-t-10 text-left">
      <h4>Materials:</h4>
      {{product.materials | titlecase}}
    </div>
    <div class="mg-t-10 text-left">
      <h4>Descsription:</h4>
      {{product.description | titlecase}}
    </div>
  </div>

  <div id="main">
    <div id="main-media">
      <img src="{{baseUrl}}/{{product.files[currentFileIndex].filename}}" alt="">
    </div>

    <div class="text-center mg-t-2">
      <span (click)="jumpToFile(file)" class="mdi"
        [ngClass]="product.files.indexOf(file) == currentFileIndex? 'jump-to-active' : 'jump-to' "
        *ngFor="let file of product.files"></span>
    </div>
    <!-- <div class="mg-t-10 font-large">
      {{product.description}}
    </div> -->
  </div>
</div>
