<h2> All Orders </h2>
<div *ngFor="let order of allOrders.reverse()" class="card mg-t-3">
  <div class="mg-t-2">
    <b>
      Date:
    </b>
    {{order.timeStamp | date: 'full'}}
  </div>
  <div class="mg-t-2">
    <b>
      Order Id:
    </b>
    {{order._id}}
  </div>
  <div class="mg-t-2">
    <b>
      Transaction Reference:
    </b>
    {{order.transactionReference}}
  </div>
  <div class="mg-t-2">
    <b>
      Deliver To:
    </b>
    {{order.deliveryAddress.country}}
  </div>
  <div class="mg-t-5 text-right">
    <button (click)="viewSingleOrder(order)" class="primary-button-small">View</button>
  </div>
</div>

<div *ngIf="allOrders.length < 1" class="card pad-5">
  <h4>You have no Orders Yet</h4>
</div>
